<div id="background">
  <div class="wrapper_skinny">
    <h1>Discover your new favorite <span class="responsive_break">podcast, or create your own.</span></h1>
    <%= link_to "Sign Up", new_user_registration_path, class: "button button_highlight" %>
    <%= link_to "Create", new_podcast_path, class: "button button_white" %>
  </div>
</div>